body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.emailField, .passwordField {
  width:150px;
  margin:2px;
}
.passwordField {
  width:150px;
}
.verifyCodeField {
  width:60px;
}
.headerCont {
  width:640px;
  margin:4px auto;
}
.loginBlock, .verifyBlock {
  float:left;
  border:0px solid black;
}
.signupFormCont {
  width:340px;
  margin:2px auto;
  text-align:right;
  border:1px solid black;
}
.signupBlock {
  float:right;
}
.userId {
  font-weight:bold;
}
.submitBtn, .cancelBtn {
  cursor:pointer;
  margin:4px;
}

.cb {
  clear:both;
}

.cardCont {
  float:left;
  margin:1px;
}
.card {
  border:1px solid black;
  border-radius:5px;
  width:60px;
  height:80px;
  padding-top:15px;
  cursor:pointer;
  text-align:center;
}
.cardCover {
  width: 40px;
  height: 40px;
}

.heart {
  color:red;
}
.spade {
  color:black;
}
.diamond {
  color:blue;
}
.club {
  color:green;
}
.correctcheckmark {
  color:green;
  font-size: 20px;
  cursor:auto;
}
.tableCont{
  margin:0px auto;
  width:640px;
}
.scoreCont {
  width:150px;
  margin:5px auto;
  border:0px solid black;
}
.highScoreCont {
  border:0px solid black;
  margin:0px auto;
}
.loginSignupCont {
  width:640px;
  margin:0px auto;
}
.scoreWrong, .scoreCorrect, .msg {
  color:red;
  padding:5px;
  font-weight:bold;
  display:inline-block;
  float:left;
  border:0px solid black;
}
.msg {
  width:640px;
  margin:0px auto;
  color:#000000;
  font-weight:bold;
  float:none;
}
.scoreWrong {
  width:20px;
}
.scoreCorrect {
  /*margin-left:120px;*/
  width:20px;
  color:green;
}

.divisorSymbol, .equalsSymbol, .currentScore {
  float:left;
  padding:5px;
}
.restartBtn, .submitScoreBtn {
  margin:4px auto;
  width:120px;
  border:2px solid black;
  border-radius:5px;
  cursor:pointer;
  background-color:#dddddd;
}
.submitScoreBtn {
  float:left;
}
.restartBtn {
  float:right;
}
button.restartBtn:hover, button.submitScoreBtn:hover {
  background-color:#A9A9A9;
}
